.dropdown-container {
    width: 600px;
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
  }
  
.dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.dropdown-menu {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    background-color: #fff;
    transform: translateY(4px);
}

.dropdown-item{
    padding: 2px;
}

.dropdown-item-selected{
    padding: 2px;
    color: gray;
}

.dropdown-item-no-options{
    text-align: center;
    padding: 2px;
    color: gray;
}

.dropdown-item:hover {
    background-color: aquamarine;
}

.dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.dropdown-tag-item {
    background-color: #ddd;
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.dropdown-tag-close {
    display: flex;
    align-items: center;
}
.search-input {
    border: none;
    outline: none;
    flex: 1;
}